.big-button {
    width: 100%;
    margin-bottom: $bigger;
    padding: 2.4rem;
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $large;
}

.big-button:disabled {
    opacity: .5;
}

.button {
    background-color: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 50;
    padding: $small;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $x-large;
    }
}

